<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>EpamWebProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ChangeLocale</servlet-name>
		<servlet-class>by.epam.training.web.controller.WebController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebAppServlet</servlet-name>
		<servlet-class>by.epam.training.web.controller.WebController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpPage</servlet-name>
		<jsp-file>/WEB-INF/signUp.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>WelcomePage</servlet-name>
		<jsp-file>/WEB-INF/welcome.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>PatientPage</servlet-name>
		<jsp-file>/WEB-INF/patientPage.jsp</jsp-file>
	</servlet>	
	<servlet-mapping>
		<servlet-name>WebAppServlet</servlet-name>
		<url-pattern>/authorization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebAppServlet</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpPage</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomePage</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientPage</servlet-name>
		<url-pattern>/patientPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLocale</servlet-name>
		<url-pattern>/setLocale</url-pattern>
	</servlet-mapping>
</web-app>