.auth-form {
	background-color: rgb(143, 232, 202);
	border-radius: 10px;
	width: 20%;
	border: 2px solid rgb(103, 204, 6);
	font-size: 1.3vw;
	padding-left: 2.5%;
	padding-top: 0.5%;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.auth-buttons {
	margin-top: 3.5%;
	margin-left: 9.5%;
	padding: 5px;
	background-color: rgb(55, 189, 128);
	border-radius: 0.6vw;
	font-size: 1.0vw;
	outline: none;
}

.reg-form {
	background-color: rgb(143, 232, 202);
	border-radius: 10px;
	width: 20%;
	border: 2px solid rgb(103, 204, 6);
	font-size: 1.3vw;
	padding-left: 2.5%;
	padding-top: 0.5%;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.reg-buttons {
	margin-bottom: 3.5%;
	padding: 5px;
	background-color: rgb(55, 189, 128);
	border-radius: 0.6vw;
	font-size: 1.0vw;
	outline: none;
}

.locale-buttons {
	background-color: rgb(55, 189, 128);
	border-radius: 0.6vw;
	font-size: 1.0vw;
	outline: none;
}

div.greenTable {
	font-family: Georgia, serif;
	border: 6px solid #24943A;
	background-color: #D4EED1;
	width: 50%;
	text-align: center;
	margin-left: 25%;
}

.tableNameFont {
	float: left;
	width: 20%;
	padding-top:1%;
	font-size: 1.5vw;
	font-weight: bold;
	font-family: Georgia, serif;
	color: green;
}

.divTable.greenTable .divTableCell, .divTable.greenTable .divTableHead {
	border: 1px solid #24943A;
	padding: 3px 2px;
}

.divTable.greenTable .divTableBody .divTableCell {
	font-size: 13px;
}

.divTable.greenTable .divTableHeading {
	background: #24943A;
	background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	border-bottom: 0px solid #444444;
}

.divTable.greenTable .divTableHeading .divTableHead {
	font-size: 19px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: left;
	border-left: 2px solid #24943A;
}

.divTable.greenTable .divTableHeading .divTableHead:first-child {
	border-left: none;
}

.greenTable .tableFootStyle {
	font-size: 13px;
	font-weight: bold;
	color: #F0F0F0;
	background: #24943A;
	background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
	border-top: 1px solid #24943A;
}

.greenTable .tableFootStyle {
	font-size: 13px;
}

.greenTable .tableFootStyle .links {
	text-align: right;
}

.greenTable .tableFootStyle .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #24943A;
	padding: 2px 8px;
	border-radius: 5px;
}

.greenTable.outerTableFooter {
	border-top: none;
}

.greenTable.outerTableFooter .tableFootStyle {
	padding: 3px 5px;
}

.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 40%;
  left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}